body {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.2);
}

.row {
  display: flex;
}
.row:first-of-type {
  border-top: 1px solid rgba(0, 0, 0, 1);
}

.row:last-of-type .col {
  border-bottom: 1px solid rgba(0, 0, 0, 1);
}

.col {
  width: 20px;
  height: 20px;
  border-right: 1px solid rgba(0, 0, 0, 1);
  border-bottom: 1px solid rgba(0, 0, 0, 1);
}

.col:first-of-type {
  border-left: 1px solid rgba(0, 0, 0, 1);
}

.col:last-of-type {
  border-right: 1px solid rgba(0, 0, 0, 1);
}

#preview {
  margin-left: 1rem;
}

#preview .col,
#preview .row {
  border-color: rgba(0, 0, 0, 0.2);
}
